@media (max-width: 1200px) {
  main {
    display: block;
  }
  .content {
    flex-direction: column-reverse;
    place-items: center;
  }
  .info-btns {
    place-content: center;
  }
  .content-info {
    place-content: center;
  }
}
@media (max-width: 960px) {
  .navbar {
    flex-direction: column;
    place-items: flex-start;
  }
  .nav-list {
    width: 80vw;
    display: none;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 5px;
  }
  .nav-item {
    border-radius: 5px;
    padding: 20px 0;
    text-align: center;
    left: 50%;
  }
  .nav-list a {
    font-size: 20px;
  }
  .menu-btn {
    display: block;
    position: absolute;
    right: 10vw;
    transform: scale(1.25);
    top: 48px;
  }
  .active {
    display: flex;
  }

  .info-btns {
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
  }
}
@media (max-width: 620px) {
  main {
    min-height: calc(100vh - 80px);
  }
  .navbar {
    padding: 3rem 8vw;
  }
  .menu-btn {
    right: 8vw;
  }
  .nav-list {
    width: 83vw;
  }

  .content {
    margin-top: -50px;
  }
  .info-heading h2 {
    font-size: 2rem;
  }
}
